# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env
backend/.env

# Python Cache
__pycache__/
*.pyc

# Uploads
uploads/
backend/uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
**/node_modules/
dist/
**/dist/
